.contenedorContactoHome{
    margin: auto;
    width: 1200px;
    padding: 3rem 0rem;
}

.contenedorContactoHome h2{
    width: 100%;
    text-align: start;
    font-family: var(--font-avant);
    color: var(--azul);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
}

.contenedorContactoHome h5{
    width: 100%;
    margin-top: 0.5rem;
    text-align: start;
    color: var(--azul);
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 300;
}

.formContactoHome{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.filaInputContactoHome{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 3rem;
}

.filaInputContactoHome:first-child{
    margin-bottom: 2rem;
}

.inputChicoContactoHome{
    width: calc(50% - 1.5rem);
}

.inputContactoHome{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.inputContactoHome label{
    font-size: 0.9rem;
    font-family: var(--font-avant);
    font-weight: 300;
    color: var(--azul);
}

.contenedorTextarea{
    width: 100%;
    margin-top: 2rem;
}

.textareaContacto{
    width: 100%;
    height: 200px;
    resize: none;
    margin: auto;
    background-color: #FFFFFF;
    border: none;
    border: 1px solid rgb(58,58,58, 0.3);
    border-radius: 6px;
}

.submitBotonContactoHome{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: start;
}

.submitBotonContactoHome button{
    width: 120px;
    height: 40px;
    border-radius: 0.5rem;
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s ease;
}

.submitBotonContactoHome button:hover{
    opacity: 0.8;
}

.errorFormMessage{
    margin-top: 0.3rem;
    color: var(--rojo);
    padding-left: 0.5rem;
}
  
@media (max-width: 576px) {
  
    .contenedorContactoHome{
        width: 100%;
        padding: 3rem 1rem;
    }

    .contenedorContactoHome h2{
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
    }

    .contenedorContactoHome h5{
        text-align: center;
        font-size: 1rem;
        line-height: 1rem;
    }

    .inputChicoContactoHome{
        width: 100%;
    }

    .inputContactoHome label{
        text-align: center;
    }

    .submitBotonContactoHome{
        justify-content: center;
    }

    .errorFormMessage{
        text-align: center;
    }
}
  
@media (min-width: 576px) and (max-width: 992px) {

    .contenedorContactoHome{
        width: 100%;
        padding: 3rem 1rem;
    }

    .contenedorContactoHome h2{
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
    }

    .contenedorContactoHome h5{
        text-align: center;
        font-size: 1rem;
        line-height: 1rem;
    }

    .inputChicoContactoHome{
        width: 100%;
    }

    .inputContactoHome label{
        text-align: center;
    }

    .submitBotonContactoHome{
        justify-content: center;
    }

    .errorFormMessage{
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
  
    .contenedorContactoHome{
        width: 100%;
        padding: 3rem 2rem;
    }

    .contenedorContactoHome h2{
        font-size: 2rem;
        line-height: 2rem;
    }

    .contenedorContactoHome h5{
        font-size: 1rem;
        line-height: 1rem;
    }
}
  
@media (min-width: 1200px) and (max-width: 1920px) {
  
}

@media (min-width: 1920px) {

}