.descargarCarpetaComercial{
    background-color: var(--azul-oscuro);
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descargarCarpetaComercial h2{
    width: 1200px;
    margin: auto;
    text-align: center;
    font-family: var(--font-avant);
    color: var(--blanco);
    font-size: 3rem;
    line-height: 3rem;
}

.descargarCarpetaComercial > img{
    margin-top: 2rem;
    width: 40px;
}

.descargarCarpetaComercial a{
    margin-top: 1rem;
}

.descargarCarpetaComercial a button{
    width: 160px;
    height: 40px;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    color: var(--azul-oscuro);
    transition: all .3s ease;
}

.descargarCarpetaComercial a button:hover{
    transform: scale(1.05);
}
  
@media (max-width: 576px) {

    .descargarCarpetaComercial{
        padding: 3rem 1rem;
    }

    .descargarCarpetaComercial h2{
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .descargarCarpetaComercial > img{
        width: 25px;
    }
}
  
@media (min-width: 576px) and (max-width: 992px) {
      
    .descargarCarpetaComercial{
        padding: 3rem 1rem;
    }

    .descargarCarpetaComercial h2{
        width: 100%;
        font-size: 2rem;
        line-height: 2rem;
    }

    .descargarCarpetaComercial > img{
        width: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    
    .descargarCarpetaComercial{
        padding: 3rem 1rem;
    }

    .descargarCarpetaComercial h2{
        width: 100%;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}
  
@media (min-width: 1200px) and (max-width: 1920px) {
  
}

@media (min-width: 1920px) {

}