.contenedorNosotrosHome{
    width: 100%;
    background-color: #FFFFFF;
}

.contenidoNosotrosHome{
    width: 1200px;
    margin: auto;
    padding: 3rem 0rem;
}

.contenidoNosotrosHome h2{
    text-align: center;
    font-family: var(--font-avant);
    color: var(--azul);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
}

.contenidoNosotrosHome p{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    color: var(--azul);
    font-size: 1.2rem;
    line-height: 1.32rem;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.textoNosotrosHome{
    position: relative;
}

.contenidoNosotrosHome img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
    height: 70%;
    opacity: 0.1;
    object-fit: cover;
}
  
@media (max-width: 576px) {

    .contenidoNosotrosHome{
        width: 100%;
    }

    .contenidoNosotrosHome h2{
        font-size: 2rem;
        line-height: 2rem;
    }

    .contenidoNosotrosHome p{
        width: calc(100% - 4rem);
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .contenidoNosotrosHome img{
        height: 90%;
        max-width: 90%;
        opacity: 0.2;
    }
}
  
@media (min-width: 576px) and (max-width: 992px) {
  
    .contenidoNosotrosHome{
        width: 100%;
    }

    .contenidoNosotrosHome h2{
        font-size: 2rem;
        line-height: 2rem;
    }

    .contenidoNosotrosHome p{
        width: calc(100% - 4rem);
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .contenidoNosotrosHome img{
        height: 90%;
        opacity: 0.2;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    .contenidoNosotrosHome{
        width: 100%;
    }

    .contenidoNosotrosHome h2{
        font-size: 2rem;
        line-height: 2rem;
    }

    .contenidoNosotrosHome p{
        width: calc(100% - 4rem);
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .contenidoNosotrosHome img{
        height: 90%;
        opacity: 0.2;
    }
}
  
@media (min-width: 1200px) and (max-width: 1920px) {
  
}

@media (min-width: 1920px) {

}